:root {
    --cor-principal: #2f1a7e;
    --cor-secundaria: white;
    --cor-sessao: #000;
    --cor-footer: rgba(73, 32, 185, 0.918);
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Estilo do topo de informações */
.top-info {
    background-color: #f2f2f2; /* Cor de fundo */
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 60px; /* Espaçamento para o menu não cobrir */
}

/* Estilos do menu */
.navbar {
    background-color: rgba(48, 28, 141, 0.9); /* Fundo com leve transparência */
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px; /* Espaçamento reduzido */
    box-shadow: 0 4px 10px rgba(29, 28, 85, 0.2); /* Sombra branca leve */
    transition: background-color 0.3s ease;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 5px 8px; /* Diminuído em 50% */
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 16px;
    font-weight: bold; /* Adicionando negrito */
    margin: 0 70px; /* Diminuído em 50% */
}


.navbar a:hover {
    background-color: #35339b;
    border-radius: 3px;
}

.logo {
    height: 45px; /* Tamanho menor */
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.menu-icon {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

/* Dropdown styles */
.dropdown {
    position: relative;
    margin: 0 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(52, 31, 150, 0.95); /* Fundo com leve transparência */
    border: 1px solid white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1;
    min-width: 180px;
    overflow: hidden;
}

.dropdown-content a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    font-size: 14px; /* Reduzido para caber melhor */
    transition: background-color 0.3s ease;
}

.dropdown-content a:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.dropdown-content a:hover {
    background-color: #35339b;
}

.dropdown:hover .dropdown-content {
    display: block;
    animation: fadeIn 0.3s ease-in-out;
}

/* Menu lateral (mobile) */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #35339b;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:not(:last-child) {
    border-bottom: 1px solid #fff;
}

.sidenav a:hover {
    background-color: #35339b;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 36px;
    margin-left: 50px;
}

/* Animação fade-in */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Menu suspenso e responsivo */
@media screen and (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .navbar a {
        display: none;
    }

    .dropdown {
        display: none;
    }

    .navbar .logo {
        display: block;
    }
}



.carousel {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    width: 1280px;
    height: 420px;
}

.carousel img {
    width: 100%;
    height: 100%;
    display: none;
}

.carousel img.active {
    display: block;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.service-item {
    width: 30%;
    box-sizing: border-box;
    margin: 10px;
    text-align: center;
}

.service-item img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.service-item h3 {
    margin: 10px 0;
    background-color: var(--cor-footer);
    color: black;
    padding: 10px;
    border-radius: 5px;
}

.about {
    background-color: #f9f9f9;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.about-text {
    max-width: 600px;
    margin-right: 20px;
}

.about-text h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.about-text p {
    font-size: 16px;
    line-height: 1.5;
}

.about-text button {
    background-color: #35339b;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.about-text button:hover {
    background-color: #35339b;
}

.about-images img {
    width: 100px;
    height: auto;
    margin: 5px;
}

.quote {
    background-color: #000;
    color: #fff;
    padding: 40px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.quote-text {
    max-width: 600px;
    margin-right: 20px;
}

.quote-text h2 {
    font-size: 24px;
    color: var(--cor-footer);
    margin-bottom: 10px;
}

.quote-text p {
    font-size: 16px;
    line-height: 1.5;
}

.quote-text button {
    background-color: #ffffff;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.quote-text button:hover {
    background-color: #2d4181cc;
}

.quote-image img {
    width: 300px;
    height: auto;
    border-radius: 15px;
}

.service-types {
    background-color: #f9f9f9;
    padding: 40px 20px;
    text-align: center;
}

.service-types h2 {
    font-size: 24px;
    color: #2b2c5e;
    margin-bottom: 20px;
}

.service-types p {
    font-size: 18px;
    margin-bottom: 40px;
}

.service-types-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service-type-item {
    width: 20%;
    box-sizing: border-box;
    margin: 10px;
    text-align: center;
}

.service-type-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.service-type-item h3 {
    margin: 10px 0;
    background-color: #494bceda;
    color: black;
    padding: 10px;
    border-radius: 5px;
}

/* Responsividade para telas menores que 768px */
@media (max-width: 768px) {
    .service-item, 
    .service-type-item {
        width: 48%; /* Ajuste para manter mais espaçamento e evitar quebra desnecessária */
        margin-bottom: 20px; /* Adiciona espaço entre os itens para uma melhor organização */
    }
    
    .about,
    .quote {
        flex-direction: column; /* Os itens serão empilhados verticalmente */
        align-items: center; /* Centraliza os itens */
        text-align: center; /* Centraliza o texto para uma aparência mais organizada */
        padding: 10px 20px; /* Adiciona um espaçamento interno para evitar que os itens toquem as bordas */
    }
    
    .about-text,
    .quote-text {
        margin-right: 0; /* Remove qualquer margem lateral */
        margin-bottom: 15px; /* Adiciona espaçamento entre o texto e outros elementos */
        width: 100%; /* Garante que o texto ocupe toda a largura disponível */
    }
}

/* Responsividade para telas menores que 480px */
@media (max-width: 480px) {
    .service-item, 
    .service-type-item {
        width: 100%; /* Ocupa a largura total em dispositivos muito pequenos */
        margin-bottom: 15px; /* Reduz o espaçamento entre os itens */
    }
    
    .about,
    .quote {
        padding: 8px 15px; /* Ajusta o padding para telas menores */
    }
    
    .about-text,
    .quote-text {
        font-size: 16px; /* Ajusta o tamanho da fonte para melhor legibilidade */
    }
}


/* Missão, visão e valores */
.container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.card {
    background-color: #fff;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    padding: 20px;
    width: 30%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card h3 {
    margin: 10px 0;
}

.icon {
    font-size: 40px;
    color: #3f28a3; /* Cor marrom */
}

.icon-card {
    box-shadow: 10px 7px 20px rgb(47, 41, 133);
}

/* Footer e chatbot com contato */

/*chatbot*/

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(27, 30, 58, 0.2);
    margin: 15px;
    width: 90%;
    max-width: 300px;
    overflow: hidden;
    transition: transform 0.3s;
}
.card:hover {
    transform: translateY(-10px);
}
.card img {
    width: 100%;
    height: auto;
}
.card .content {
    padding: 15px;
}
.card .content h3 {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
}
.card .content p {
    font-size: 14px;
    color: #666;
}
.card .content a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}
.card .tag {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #001aff;
    color: #fff;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
}
.floating-buttons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.floating-button {
    background-color: #2531d3;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(14, 16, 32, 0.2);
}
.floating-button.chatbot {
    background-color: #FF4500;
}

 /* Estilo do menu flutuante */
 #chatbot-menu {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #3c2eb8;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(20, 22, 49, 0.3);
    z-index: 1000;
    text-align: center;
}
#chatbot-menu button {
    margin-top: 10px;
    background-color: #fff;
    color: #312c81;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
#chatbot-menu button:hover {
    background-color: #ddd;
}

/*Stinha top scroll*/
.scroll-to-top {
    position: fixed;
    bottom: 80px;
    left: 20px;
    background-color: #332486d8; /* azul */
    color: white;
    border-radius: 50%;
    padding: 15px;
    font-size: 24px;
    display: none; /* Inicialmente escondido */
    z-index: 1000;
}

/*Pagementos*/
.payment-section {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(20, 21, 56, 0.1);
    margin: auto;
    max-width: 800px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.payment-title {
    font-size: 24px;
    font-weight: bold;
    color: var(--cor-principal) /* Azul escuro */
    margin-bottom: 20px;
}

.payment-logos img {
    margin: 0 10px;
    max-width: 60px; /* Ajuste o tamanho das imagens conforme necessário */
    vertical-align: middle;
}


/*footer*/

.footer-text {
    color: white; /* branco */
    font-weight: bold;
}

footer {
    background-color: #3e48aa;
    color: white;
    padding: 10px 0;
    text-align: center;
    
}


/*Menu mobile*/

/* Estilos para o menu lateral */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #37359c;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    background-color: #1d0dad;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Ícone de menu no mobile */
.menu-icon {
    font-size: 30px;
    cursor: pointer;
    color: white;
    padding: 10px;
    display: none;
}

/* Responsividade para o mobile */
@media (max-width: 768px) {
    .menu-icon {
        display: block; /* Exibe o ícone do menu */
        cursor: pointer; /* Mostra que o ícone é clicável */
    }

    .navbar a {
        display: none; /* Esconde os links na barra de navegação */
    }

    .navbar img {
        display: inline-block; /* Mantém o logo visível */
        max-width: 80%; /* Garante que o logo se ajuste bem na tela menor */
        height: auto; /* Mantém a proporção do logo */
    }

    /* Quando o menu for ativo, os links aparecerão */
    .navbar.active a {
        display: block; /* Mostra os links da barra de navegação */
        width: 100%; /* Garante que os links ocupem toda a largura do menu */
        text-align: center; /* Centraliza os links para melhor aparência */
        padding: 10px 0; /* Adiciona espaçamento nos links */
    }
}

/* Alternativa para ajustar a largura do logo em telas menores */
@media (max-width: 480px) {
    .navbar img {
        max-width: 70%; /* Diminui ainda mais o logo em telas menores */
    }
}


